<!doctype html>
<html>
<head>
	<style>
        body {
            background: white
        }

        section {
            background: black;
            color: white;
            border-radius: 1em;
            padding: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
	<title>Home Page</title>
	</head>
<body>
	
	<section>
	<h1>Length Converter</h1>
	<form method="post" name="lengthCon">

		<p>
			From
			<select name="fromUnit"  > 
				<option> meters </option>
				<option> kilometers </option>
				<option> miles </option>
				<option> feet </option>
			</select>
			To

			<select name="toUnit">
				<option> meters </option>
				<option> kilometers </option>
				<option> miles </option>
				<option> feet </option>
			</select>
		</p>

		<!--<p colspan="4"><div id="formula">meters = 1 meters</div></p>-->

		<p>
			Enter
			<input type="number" step="0.01" name="fromValue" value={{num_enter}} size="5" maxlength="10">
		</p>
		<p><input type="submit" value="Convert" ></p>
		<p> Value
		<input type="text" name="bmi" value={{content}} id="bmi"></p>
	</form>
	</section>
</body>
</html>